body {
  padding: 25px;
  font: 14px Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f2f2f2;
}

#boardBody {
  padding: 10px;
}

.search {
  width: 100%;
  padding-top:15px;
  margin-right: 20px;
  text-align: right;
  display: flex;
}

#puzzleid {
  border: 3px solid #00B4CC;
  /*border-right: none;*/
  height: 36px;
  border-radius: 5px 0 0 5px;
  /*outline: none;*/
  color: #9DBFAF;
}

.puzzleid:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  /*border-left: none;*/
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

